@charset "UTF-8";
@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body 
{
    /* 전체화면 내외부 간격 : 0 */
    margin: 0; 
    padding: 0;
}

/* 전체 레이아웃 : 전체 화면에 꽉차게 조치 */
div#wrap
{
    width: 100vw;
    height: 100vh;
    min-width: 1000px;

    display: flex;
    justify-content: flex-start;
}

/* 좌측 메뉴 */
div#left_menu
{
    width: 300px;
    background-color:orange;

    /* 메뉴 중앙 정렬 */
    display:flex;
    align-items:center;
    justify-content:center;

}

/* 좌측메뉴 mouseover시 애니메이션 */
@keyframes shake {
    0%   { transform: scale(1.2) rotate(0deg); }
    25%  { transform: scale(1.2) rotate(2deg); }
    50%  { transform: scale(1.2) rotate(0deg); }
    75%  { transform: scale(1.2) rotate(-2deg); }
    100% { transform: scale(1.2) rotate(0deg); }
}

/* 메인 요리 */
div#center_dish
{
    position: relative;
    min-width: 1000px;
    width: calc(100vw - 300px);
    /* background: cyan;     */
    background: url('../pic/table.jpg') no-repeat;
    background-size: cover;

    /* 요리 접시 중앙 정렬 */
    display:flex;
    align-items:center;
    justify-content:center;
}

/* 포스트잇 */
#post_it
{
    position: absolute;		
    left: calc(50vw - 380px);
    top: calc(50vh -230px);
    width: 460px;
    height: 460px;
    background: url(../pic/post-it.png) no-repeat;
    background-size: contain;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'HSYuji-Regular';
    font-size: 3em;
}

/* 가운데 요리 접시 */
div#main_dish
{
    width: 450px;
    height: 450px;

    /* 피자(요리) 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 포크 */
#fork_box
{
    position: absolute;
    left: calc(50% - 100px);    
    top: 400px;
    width: 50px;
    height: 300px;
    z-index: 2;
    visibility: hidden;
}

/* 나이프 */
#knife_box
{
    position: absolute;		
    left: calc(50vw + 330px);
    top: 400px;
    width: 50px;
    height: 300px;
    z-index: 2;
    visibility: hidden;
}